.the-bin-calculator {
    padding: 10px;
    margin: 5px;
    background-color: #242424;
    color: white;
    display: inline-table;
    border-radius: 8px
}

.the-bin-calculator {
    border-spacing: 0;
}

.the-bin-calculator th, .the-bin-calculator td {
    border-spacing: 0;
    padding: 1em .2em;
}

.the-bin-calculator, .the-bin-calculator th, .the-bin-calculator td {
    border: 1px solid white
}

.the-bin-calculator > tfoot.the-bin-calculator-tfoot {
    text-align: center
}

.the-bin-calculator button {
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    padding: 1em;
    font-weight: bolder;
    font-size: 1em;
    width: auto;
}
